.login {
  /* background-color: transparent; */
  border-radius: 20px !important;
  color: #f2f2f2f2;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(15px);
  width: 390px;
}
.title-login {
  margin-right: -67px;
}
.background-login {
  background-color: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(7px);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: 100% 100%;
  background-attachment: scroll;
  position: absolute;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
.all-login {
  text-align: center;
}
p.danger {
  color: #cc0000;
  font-size: 10px;
  margin-top: -10px;
  margin-bottom: 10px;
  font-size: 15px;
}

input.danger {
  border: 2px solid red;
}
.login-user {
  display: flex;
  margin-bottom: 25px;
}

.forgot {
  text-align: center !important;
  display: block !important;
  margin-top: 16px;
}

.your-password {
  margin-left: 5px;
  color: #684aa3;
}
.your-password:hover {
  color: #444499;
}

.icon-password {
  margin-right: 10px;
  margin-top: 5px;
}
.icon-email {
  margin-right: 10px;
  margin-top: 5px;
}

.sign-in {
  margin-top: 10px;
  padding-inline: 129px;
  background-color: #684aa3;
  border: none;
  border-radius: 12px;
  font-size: 14px !important;
}

.sign-in:hover {
  background-color: #444499;
}

.sign-fb {
  padding-inline: 147px;
  border-radius: 12px;
}
.sign-go {
  padding-inline: 145px;
  border-radius: 12px;
}
.sign-git {
  padding-inline: 147px;
  border-radius: 12px;
}
.register-in {
  padding-inline: 124px;
  margin-top: 10px;
  background-color: #684aa3;
  border: none;
}
.register-in:hover {
  background-color: #444499;
}

.close-login {
  background-color: transparent;
  font-size: 20px;
}

.border-login {
  border-radius: 12px;
}
