.producto {
  background-attachment: scroll;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding-top: 80px;
  overflow: scroll;
  color: #f2f2f2;
}

.product-content {
  width: 90%;
  padding-top: 45px;
  max-height: 820vh;
  margin: 70px auto 20px auto;
  background-color: rgba(255, 255, 255, 0);
  /* backdrop-filter: blur(15px); */
  border-radius: 30px;
  margin-top: 10px;
}

.info-top {
  width: 35%;
  display: block;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

.product-info-stat {
  width: 65%;
  font-family: "Roboto";
  margin: 60px 10px 140px 10px;
  color: #f2f2f2;
  margin-left: 50px;
  align-self: flex-end;
}

.product-info-stat .product-description h3 {
  font-weight: 700;
  font-size: 52px;
  margin-bottom: 30px;
}

.product-specific {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 70%;
  height: 230px;
}

.product-info-stat .product-description .product-specific-ind {
  width: 200px;
  height: 70px;
  margin-right: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.product-specific-ind .svg-inline--fa {
  font-size: 25px;
}

.product-specific-ind div {
  margin-left: 30px;
  font-weight: 500;
  font-size: 15px;
}
.product-info-bot {
  width: 100%;
  height: 44%;
}
.reviews-box {
  margin-bottom: 30px;
  width: 5000px;
  margin-top: 7px;
  margin-right: 30px;
  margin-left: 30px;
  padding: 0px;
}
.rating-sector {
  display: block;
  margin-top: 20px;
  margin-left: 119px;
}
.button-rating-detail {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0);
}

.cont {
  width: 40%;
  margin-top: 40px;
}
.color-estrellita {
  color: #ffe234;
  width: 30px;
}

.product-info-bot .product-colors {
  width: 100%;
  height: 86%;
  display: flex;
  justify-content: space-around;
}

.product-colors .color {
  width: 110px;
  text-align: center;
}

.color {
  width: 100%;
  height: 83%;
  border-radius: 15px;
  margin-top: 25px;
}

.product-price {
  width: 60%;
  padding: 0px 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
}
.product-price .price {
  margin-bottom: 20px;
}

.product-price p {
  color: #f2f2f2 !important;
  font-size: 25px;
}
.product-price p:nth-child(2) {
  font-size: 40px;
  font-family: "Roboto";
}

.product-price button {
  width: 250px;
  height: 50px;
  background-color: #6c66bf;
  border-radius: 20px;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.detail-product-colors {
  width: 85px;
}

.product-info-details {
  font-size: 16px;
}
