.cart-log {
  color: white !important;
  background-image: url("../../img/fondos/fondo3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: scroll;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding-top: 80px;
  overflow: scroll;
  color: #f2f2f2;
}

.init-cont-cart {
  margin: 50px auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.cart-table-info {
  max-height: none;
}

.cart-table-info .title {
  align-items: center;
  width: 100%;
}

.cart-table-info .title h3:first-child {
  margin-right: auto;
}

.cart-table-info .title h4 {
  margin-right: 20px;
}

.cart-table-info .title h4 span {
  color: blueviolet;
}

.total-shop {
  margin-left: auto;
  width: 12%;
}

.bot-button button {
  background-color: purple;
  border-color: purple;
  color: white !important;
  padding: 10px 20px;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-cancel {
  background-color: red;
  border-color: red;
  color: white !important;
  padding: 10px 20px;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-cancel:hover {
  background-color: #b22222;
  border-color: #b22222;
  color: white !important;
}

.bot-button button:hover {
  background-color: purple;
  border-color: purple;
  color: white !important;
}
