.conten-order {
  margin-top: 60px;
  width: 90%;
}

.conten-order .all-orders-us {
  margin-top: 20px;
}

.conten-order .all-orders-us .individual-order {
  border: 1px solid rgba(187, 186, 186, 0.842);
  margin-bottom: 20px;
  padding: 20px 20px;
  background-color: rgb(0, 31, 65, 0.5);
}

.individual-order .order-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.individual-order button {
  width: 10rem;
  padding: 10px 0;
  border: 2px solid #6c66bf;
  border-radius: 20px;
  background: none !important;
}

.order-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last-product {
  display: flex;
  align-items: center;
}

.last-product img {
  width: 60px;
  height: 70px;
}
