
.conten-resumen-order{
  background-image: url("../../img/fondoproducto.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: scroll;
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  color: #f2f2f2 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resumen-order{
  width: 40%;
  position: relative;
  padding: 40px 40px 60px;
  border-radius: 10px;
  text-align: start;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
              5px 5px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.resumen-order h2{
  margin-bottom: 20px;
}

.resumen-order table{
  text-align: center;
  margin-bottom: 20px;
}

.resumen-order .metodo-pay{
  margin-bottom: 20px;
}

.resumen-order .res-total-pay{
  margin-bottom: 20px;
  align-self: flex-end;
}

.resumen-order .res-total-pay .res-total{
  display: flex;
}

.res-total .res-btn-pay button{
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 5px 15px;
  color: #243B8D;
  font-weight: bold;
  font-size: 20px;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
              2px 2px 6px rgba(0, 0, 0, 0.8);
}